[viewBag]
==
<div class="sidebar-right">
    <div class="sidebar-scroll">
        <div class="sidebar-header right-sidebar-header">
            <h3>News!</h3>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a class="close-sidebar" href="#"><i class="fa fa-times"></i></a>
            <div class="clear"></div>
        </div>        
        <div class="sidebar-user">
            <img data-original="{{ 'assets/images/pictures/4t.jpg'|theme }}" alt="img" class="preload-image">
            <h3>Hello, John Doe</h3>
            <p>
                A lot of new awesome stuff around here since you've been gone!
                <a href="#">Not John?</a>
            </p>
        </div>
        <div class="sidebar-divider">
            What's new? 
        </div> 
        <div class="sidebar-recommend">
            <a href="#">Tech & Devices<em class="bg-red-dark">1</em></a>
            <a href="#">Mobile & Tablets<em class="bg-green-dark">5</em></a>
            <a href="#">Design & Graphics<em class="bg-blue-dark">8</em></a>
            <a href="#">Coding & Development<em class="bg-magenta-dark">15</em></a>
        </div>
        <div class="sidebar-divider">
            Saved Articles
        </div>        
        <div class="sidebar-articles">
            <!--<a href="#">
                <img data-original="images/pictures/1.jpg" alt="img" class="preload-image responsive-image">
                <strong>Android runs out of candy flavors and starts using meat flavors. Huh? </strong>
            </a>-->
        </div>        
        <div class="sidebar-divider">
            Let's get social
        </div>
        <div class="sidebar-menu">
            <a class="menu-item" href="#">
                <i class="fa fa-facebook facebook-color"></i>
                Facebook
                <i class="fa fa-circle"></i>                        
            </a>            
            <a class="menu-item" href="#">
                <i class="fa fa-twitter twitter-color"></i>
                Twitter
                <i class="fa fa-circle"></i>                        
            </a>            
            <a class="menu-item" href="#">
                <i class="fa fa-google-plus google-color"></i>
                Google 
                <i class="fa fa-circle"></i>                        
            </a>   
            <div class="sidebar-divider">
                GET IN TOUCH
            </div>
            <a class="menu-item" href="#">
                <i class="fa fa-phone phone-color"></i>
                Call Us
                <i class="fa fa-circle"></i>                        
            </a>            
            <a class="menu-item" href="#">
                <i class="fa fa-fax bg-magenta-dark"></i>
                Fax Us
                <i class="fa fa-circle"></i>                        
            </a>            
            <a class="menu-item" href="#">
                <i class="fa fa-envelope-o mail-color"></i>
                Mail Us 
                <i class="fa fa-circle"></i>                        
            </a>            
            <div class="sidebar-divider">
                BONUS! 50 extra pages included
            </div>
            <a class="menu-item" href="page-sitemap.html">
                <i class="fa fa-gift bg-green-dark"></i>
                Extra Pages
                <i class="fa fa-circle"></i>
            </a>              
        </div>    
        <em class="sidebar-copyright">Copyright 2016. All Rights Reserved</em>        
    </div>
</div>